* {
    padding: 0;
    margin: 0
}

body {
    margin: 0px;
    padding: 0px;
    background: url("../img_menu/background.png") center center fixed no-repeat;
    background-size: cover;
    font-family: 'Noto Sans TC';

}


#menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(5%);
}

#menu .item {
    width: 320px;
    margin: 40px;
    display: block;
    opacity: 90%;
    float: left;

}


#menu .content {
    width: 100%;
    height: 400px;
    margin: 32px 0;
    text-align: center;
    background: #ffffff;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#menu .content .image-holder {
    position: relative;
    top: 40px;
    display: inline-block;
    margin-bottom: 40px;
    padding: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#menu .content .heading {
    color: #C9BA9B;
    font-weight: bold;
    position: relative;
    top: 10px;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#menu .content:hover {
    background: #304352;
}

#menu .content:hover .image-holder {
    top: -40px;
    margin-bottom: 0px;
}

#menu .content:hover .heading {
    top: -10px;
}

#menu .content .description {
    font-size: 14px;
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

#menu .content:hover .description {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#menu .content:hover p.description {
    color: #ffffff;
}

#copyright {
    width: fit-content;
    height: auto;
    margin: 0px auto;
}

#copyright .word {
    font-size: 11px;
    color: white;
    opacity: 60%;

}